<div layout="row" layout-align-md="column">
    <div flex>
        <md-card class="md-whiteframe-z3">
            <md-toolbar class="md-toolbar-tools md-accent">
                <h3>Create New Software Suite</h3>
            </md-toolbar>
            <md-content class="md-padding">
                <p>
                Software Suites allow you to collect similar software together
                and register it as a metapackage. Users can then install the
                single parent metapackage and obtain all of the relevant tools.
                </p><p>
                <!-- TODO!!!! -->
                For instance the "Genome Assembly" suite provides a collection of assemblers such as Spades, Velvet, and MIRA.
                </p>

                <form id="suiteForm" ng-submit="submit()">
                    <md-content layout-padding layout="column">
                        <md-input-container>
                            <label>Suite Name</label>
                            <input ng-model="suite.name" required/>
                            <!--<p class="md-caption" style="color: rgba(0,0,0, 0.8)">User visible name for the repository</p>-->
                        </md-input-container>

                        <md-input-container>
                            <label>Synopsis</label>
                            <input ng-model="suite.synopsis" required />
                        </md-input-container>

                        <md-input-container>
                            <label>Description</label>
                            <textarea ng-model="suite.description" rows="5" required />
                        </md-input-container>


                        <md-input-container>
                            <md-chips ng-model="suite.repositories"
                                      md-autocomplete-snap=""
                                      md-require-match="">
                              <md-autocomplete md-selected-item="selectedItem"
                                               md-search-text="searchText"
                                               md-items="item in querySearch(searchText)"
                                               md-item-text="item.name"
                                               placeholder="Search for a repository">
                                <span md-highlight-text="searchText">
                                    {{item.name}} :: {{item.version}}
                                </span>
                              </md-autocomplete>
                              <md-chip-template>
                                <span>
                                  <strong>{{$chip.name}}</strong>
                                  <em>({{$chip.version}})</em>
                                </span>
                              </md-chip-template>
                            </md-chips>

                        </md-input-container>
                        <pre>
{{ suite | json }}
                        </pre>

                        <md-button class="md-raised md-primary">
                            Submit
                        </md-button>
                    </md-content>
                </form>
            </md-content>
        </md-card>
    </div>
</div>
