<md-dialog aria-label="Create New Release">
    <form id="releaseForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Create New Release</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-font-library="material-icons">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content style="max-width:800px;max-height:810px; ">
            <md-input-container>
                <label>Release Message</label>
                <textarea ng-model="installable.message" required rows="5"/>
                <p class="md-caption" style="color: rgba(0,0,0, 0.8)">
                    It is highly recommended to use a git commit style message here.<br/>
                    <br/>
                    Git commits generally contain a one line header to
                    provide the user with a fast overview of what has changed,
                    a blank line, and then a more detailed description of all
                    that has changed in your updated version, much like this
                    text.
                </p>
            </md-input-container>

            <md-input-container>
                <label>Release Signature</label>
                <textarea ng-model="installable.sig"/>
                <p class="md-caption" style="color: rgba(0,0,0, 0.8)">
                    ASCII armored GPG signature with your personal key, or a
                    group key where appropriate.
                </p>
            </md-input-container>


            <md-input-container>
                <input type="file"
                       ngf-select
                       ng-model="installable.file"
                       class="md-raised md-primary md-hue-1"
                       name="file"
                       ngf-pattern="'application/zip','application/gzip'"
                       accept="application/zip,application/gzip"
                       ngf-max-size="1MB"
                       ngf-min-height="100"
                       />
                <p class="md-caption" style="color: rgba(0,0,0, 0.8)">
                    This should be a .tar.gz or .zip file containing your
                    repository data. For tools that generally consists of a
                    tool XML file and a tool_dependencies.xml
                </p>
            </md-input-container>


        </md-dialog-content>

        <div class="md-actions" layout="row">
            <span flex></span>

            <md-button type="button" ng-click="cancel()">
                Cancel
            </md-button>
            <md-button type="submit" ng-click="answer(installable)" class="md-default-theme md-raised md-primary">
                Create Release
            </md-button>
        </div>
    </form>
</md-dialog>
