<div layout="row" layout-align-md="column">
    <div flex>
        <form editable-form name="groupForm" onaftersave="saveForm()">
        <md-card class="md-whiteframe-z3">
            <md-toolbar class="md-toolbar-tools md-accent">
                <h3>{{ group.name }}</h3>

                <span flex/>

                <!-- TODO: Custom directive -->
                <md-button class="md-icon-button md-accent md-hue-3"
                           type="button"
                           aria-label="Edit Group"
                           ng-click="groupForm.$show()"
                           ng-hide="(!group.can_edit) || groupForm.$visible"
                           >
                        <md-tooltip>
                            Edit Group
                        </md-tooltip>
                        <md-icon md-font-library="material-icons">edit</md-icon>
                    </md-button>

                <md-button class="md-icon-button md-accent md-hue-3"
                           type="submit"
                           aria-label="Submit Changes"
                           ng-hide="(!group.can_edit) ||  !groupForm.$visible"
                           >
                    <md-tooltip>
                        Submit Changes
                    </md-tooltip>
                    <md-icon md-font-library="material-icons">check</md-icon>
                </md-button>

                <md-button class="md-icon-button md-accent md-hue-3"
                           type="button"
                           aria-label="Cancel Changes"
                           ng-click="groupForm.$cancel()"
                           ng-hide="(!group.can_edit) || !groupForm.$visible"
                           >
                    <md-tooltip>
                        Cancel Changes
                    </md-tooltip>
                    <md-icon md-font-library="material-icons">cancel</md-icon>
                </md-button>
            </md-toolbar>
            <md-content class="md-padding">
                <h4>Description</h4>
                <div editable-textarea="group.description" e-rows="5" e-cols="40" e-name="description">
                {{group.description}}
                </div>
                <h4>Website</h4>
                <div>
                    <a href="{{group.website}}" target="_blank" editable-text="group.website" e-size="40" e-name="remote_repository_url">
                        {{group.website}}
                    </a>
                </div>
                <h4>Members</h4>
                <!--  TODO: custom chips -->
                <!--
                <md-contact-chips
                    ng-model="group.user_set_deref"
                    md-contacts="searchUsers($query)"
                    md-contact-name="display_name"
                    md-contact-image="gravatar_url"
                    filter-selected="filterSelected"
                    readonly="groupForm.$visible"
                    placeholder="Members"
                    >
                </md-contact-chips>
                -->
                <!-- Readonly currently does not work here, but soon!
                     https://github.com/angular/material/issues/4537
                -->
                <ul>
                    <li ng-repeat="user in group.user_set_deref">
                        <a ui-sref="user_detail({userId: user.id})">
                            {{ user.display_name }}
                        </a>
                    </li>
                </ul>
                <h4>GPG Key ID</h4>
                <div editable-text="group.gpg_pubkey_id" e-name="gpg_pubkey_id">
                    {{group.gpg_pubkey_id}}
                </div>
            </md-content>
        </md-card>
        </form>
    </div>
</div>
