<md-content>
    <md-toolbar class="md-primary md-hue-3">
        <div layout="row">
            <div flex style="text-align:center">
                <h1 class="md-display-3">Galaxy Toolshed</h1>
            </div>
        </div>
    </md-toolbar>
    <md-content>
        <p>
        This is a WORK IN PROGRESS. Please feel free to <a href="https://github.com/erasche/toolshed">contribute</a>, if
        only to let me know I've left something unfinished or broken.
        </p>

        <h2>Supported Features/Actions</h2>
        <ul>
            <li>Signin, Profile, Signout</li>
            <li>Creating Groups</li>
            <li>Creating Packages</li>
            <li>Creating Revisions of those packages</li>
            <li>Group permissions on repositories</li>
        </ul>

        <h2>TODO</h2>
        <ul>
            <li>Adding/Removing people from groups</li>
            <li>Adding/Removing people from repositories</li>
            <li>Pagination on Tags page</li>
            <li>Editing Tags</li>
            <li>Persisting Tags on Repositories</li>
            <li>Listing User/Group Repositories</li>
            <li>Building Suites -- I have big plans for this one ;)</li>
            <li>Figure out what should actually go here on release day</li>
        </ul>
    </md-content>
</md-content>
