<div layout="row" layout-align-md="column">
    <div flex>
        <md-card class="md-whiteframe-z3">
            <md-toolbar class="md-toolbar-tools md-accent">
            <h3>{{ installable_type | InstallableTypeToText }}</h3>
            </md-toolbar>
            <md-content class="md-padding">
                <p>
                The toolshed currently has {{ numResults || 0 }} {{ installable_type | InstallableTypeToText | lowercase }} repositories.
                </p>
                <md-tabs md-selected="page" md-border-bottom md-dynamic-height>
                    <md-tab ng-repeat="page in range(0, pageCount - 1)" label="{{page}}">
                        <div class="tab{{$index%4}}" style="padding: 25px; text-align: center;">
                            {{ cachedPages.keys() }}
                            <table>
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Synopsis</th>
                                        <th>Versions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="installable in cachedPages[page]">
                                        <td>
                                            <a ui-sref="installable_detail({installableId: installable.id})">
                                                {{ installable.name }}
                                            </a>
                                        </td>
                                        <td>
                                            {{ installable.synopsis }}
                                        </td>
                                        <td>
                                            {{ installable.revisions.length }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </md-tab>
                </md-tabs>
            </md-content>
        </md-card>
    </div>
</div>
