<div layout="row" layout-align-md="column">
    <div flex>
        <form editable-form name="installableForm" onaftersave="saveForm()">
        <md-card class="md-whiteframe-z3">
            <md-toolbar class="md-toolbar-tools md-accent">
                <span editable-text="installable.name" e-name="name">
                    {{ installable.name }}
                </span>

                <span flex/>

                <md-button class="md-icon-button md-accent md-hue-3"
                           type="button"
                           aria-label="Edit repository"
                           ng-click="installableForm.$show()"
                           ng-hide="(!canEdit) || installableForm.$visible"
                           >
                    <md-tooltip>
                        Edit Repository
                    </md-tooltip>
                    <md-icon md-font-library="material-icons">edit</md-icon>
                </md-button>

                <md-button class="md-icon-button md-accent md-hue-3"
                           type="submit"
                           aria-label="Submit Changes"
                           ng-hide="(!canEdit) ||  !installableForm.$visible"
                           >
                    <md-tooltip>
                        Submit Changes
                    </md-tooltip>
                    <md-icon md-font-library="material-icons">check</md-icon>
                </md-button>

                <md-button class="md-icon-button md-accent md-hue-3"
                           type="button"
                           aria-label="Cancel Changes"
                           ng-click="installableForm.$cancel()"
                           ng-hide="(!canEdit) || !installableForm.$visible"
                           >
                    <md-tooltip>
                        Cancel Changes
                    </md-tooltip>
                    <md-icon md-font-library="material-icons">cancel</md-icon>
                </md-button>

                <md-button class="md-icon-button md-accent md-hue-3"
                           type="button"
                           aria-label="Create New Revision/Release"
                           ng-click="newRevision()"
                           ng-hide="(!canEdit)"
                           >
                    <md-tooltip>
                        Create New Revision/Release
                    </md-tooltip>
                    <md-icon md-font-library="material-icons">add</md-icon>
                </md-button>

            </md-toolbar>
            <md-content class="md-padding">
                {{ status  }}
                <div layout="column">
                    <div>
                        <b>Synopsis</b>
                        <p editable-textarea="installable.synopsis" e-cols="40" e-name="synopsis">
                            {{installable.synopsis}}
                        </p>
                    </div>
                    <div>
                        <b>Description</b>
                        <p editable-textarea="installable.description" e-rows="5" e-cols="40" e-name="description">
                        {{installable.description}}
                        </P>
                    </div>
                </div>
            </md-content>
        </md-card>

        <md-card class="md-whiteframe-z3">
            <md-toolbar class="md-toolbar-tools md-accent md-hue-3">
                <h6>Repository Dependencies</h6>
            </md-toolbar>
            <md-content class="md-padding">
            </md-content>
        </md-card>

        <md-card class="md-whiteframe-z3">
            <md-toolbar class="md-toolbar-tools md-accent md-hue-3">
                <h6>Repository Contents</h6>
            </md-toolbar>
            <md-content class="md-padding">
            </md-content>
        </md-card>
        </form>
    </div>
</div>
