<div layout="row" layout-align-md="column">
    <div flex>
        <md-card class="md-whiteframe-z3">
            <md-toolbar class="md-toolbar-tools md-accent">
                <h1>{{ installable.name }}</h1>
            </md-toolbar>
            <md-content class="md-padding">
                <p>
                    {{installable.synopsis}}
                </p>
                <p>
                    {{installable.description}}
                </p>
            </md-content>
        </md-card>

        <md-card class="md-whiteframe-z3">
            <md-toolbar class="md-toolbar-tools md-accent md-hue-3">
                <h6>Repository Dependencies</h6>
            </md-toolbar>
            <md-content class="md-padding">
                <p>
                    {{installable.synopsis}}
                </p>
                <p>
                    {{installable.description}}
                </p>
            </md-content>
        </md-card>

        <md-card class="md-whiteframe-z3">
            <md-toolbar class="md-toolbar-tools md-accent md-hue-3">
                <h6>Repository Contents</h6>
            </md-toolbar>
            <md-content class="md-padding">
                <p>
                    {{installable.synopsis}}
                </p>
                <p>
                    {{installable.description}}
                </p>
            </md-content>
        </md-card>

    </div>
</div>
