<div layout="row" layout-align-md="column">
    <div flex>
        <form editable-form name="installableForm" onaftersave="saveForm()">
        <md-card class="md-whiteframe-z3">
            <md-toolbar class="md-toolbar-tools md-accent">
                <span>
                    {{ installable.name }}
                </span>

                <span flex/>

                <md-button class="md-icon-button md-accent md-hue-3"
                           type="button"
                           aria-label="Edit repository"
                           ng-click="installableForm.$show()"
                           ng-hide="(!installable.can_edit) || installableForm.$visible"
                           >
                        <md-tooltip>
                            Edit Repository
                        </md-tooltip>
                        <md-icon md-font-library="material-icons">edit</md-icon>
                    </md-button>

                    <md-button class="md-icon-button md-accent md-hue-3"
                               type="submit"
                               aria-label="Submit Changes"
                               ng-hide="(!installable.can_edit) ||  !installableForm.$visible"
                               >
                        <md-tooltip>
                            Submit Changes
                        </md-tooltip>
                        <md-icon md-font-library="material-icons">check</md-icon>
                    </md-button>

                    <md-button class="md-icon-button md-accent md-hue-3"
                               type="button"
                               aria-label="Cancel Changes"
                               ng-click="installableForm.$cancel()"
                               ng-hide="(!installable.can_edit) || !installableForm.$visible"
                               >
                        <md-tooltip>
                            Cancel Changes
                        </md-tooltip>
                        <md-icon md-font-library="material-icons">cancel</md-icon>
                    </md-button>

                    <md-button class="md-icon-button md-accent md-hue-3"
                               type="button"
                               aria-label="Create New Revision/Release"
                               ng-click="newRevision()"
                               ng-hide="(!installable.can_edit)"
                               >
                        <md-tooltip>
                            Create New Revision/Release
                        </md-tooltip>
                        <md-icon md-font-library="material-icons">add</md-icon>
                    </md-button>

                </md-toolbar>
                <md-content class="md-padding">
                    {{ status  }}
                    <div layout="column">
                        <div>
                            <h4>Synopsis</h4>
                            <div editable-textarea="installable.synopsis" e-cols="40" e-name="synopsis">
                                {{installable.synopsis}}
                            </div>
                        </div>
                        <div>
                            <h4>Description</h4>
                            <div editable-textarea="installable.description" e-rows="5" e-cols="40" e-name="description">
                            {{installable.description}}
                            </div>
                        </div>
                        <div ng-show="installable.remote_repository_url !== null || installableForm.$visible">
                            <h4>Upstream Repository</h4>
                            <div>
                                <a href="{{installable.remote_repository_url}}" target="_blank" editable-text="installable.remote_repository_url" e-size="40" e-name="remote_repository_url">
                                    {{installable.remote_repository_url}}
                                </a>
                            </div>
                        </div>
                        <div ng-show="installable.homepage_url !== null || installableForm.$visible">
                            <h4>Upstream Homepage</h4>
                            <div>
                                <a href="{{installable.homepage_url}}" target="_blank" editable-text="installable.homepage_url" e-size="40" e-name="homepage_url">
                                    {{installable.homepage_url}}
                                </a>
                            </div>
                        </div>

                        <div ng-show="installable.tags.length > 0 || installableForm.$visible">
                            <h4>Tags</h4>
                            <md-chips ng-model="installable.tags" readonly="!installableForm.$visible || false">
                                <md-chip-template>
                                    <strong ui-sref="tag_detail({tagId: $chip.id})">
                                        {{$chip.display_name}}
                                        <!-- TODO: figure out what's going
                                            wrong here.

                                            Right now, the tags are rendered at
                                            the correct distance, the
                                            "editable" tag positioned OVER the
                                            end of the string, then when
                                            readonly=true, the delete button is
                                            hidden and the chip is shortened
                                            which cuts off the end of the
                                            string.
                                        -->
                                    </strong>
                                    <md-tooltip>
                                        {{$chip.description}}
                                    </md-tooltip>
                                </md-chip-template>
                            </md-chips>
                        </div>
                    </div>
                </md-content>
            </md-card>

            <md-card class="md-whiteframe-z3"  ng-show="installable !== undefined && installable.revision_set !== undefined && installable.revision_set.length > 0">
                <md-toolbar class="md-toolbar-tools md-accent md-hue-3">
                    <span>Version: </span>

                <md-select ng-model="selectedRevision" aria-label="Select a version to view">
                    <md-option ng-repeat="revision in installable.revision_set | reverse" value="{{revision.id}}">{{revision.version}}</md-option>
                </md-select>

                <span flex/>
            </md-toolbar>
            <md-content class="md-padding">
                <h4>Published</h4>
                {{ selectedRevisionData.uploaded | date: 'medium' }}

                <h4>Changelog</h4>
                <p marked="selectedRevisionData.commit_message">
                </p>

                <h4>Download Repository Revision</h4>
                <ul>
                    <li>
                        <a href="{{ revisionDownloadUrl }}">
                            {{installable.name}}-{{selectedRevisionData.version}}.tar.gz
                        </a>
                    </li>
                </ul>

                <h4>Download Verification</h4>
                <ul>
                    <li>sha256: <code>{{ selectedRevisionData.tar_gz_sha256}}</code>
                    </li>
                    <li ng-if="selectedRevisionData.tar_gz_sig_available">
                        <a href="{{ revisionDownloadUrl }}.asc">
                            {{installable.name}}-{{selectedRevisionData.version}}.tar.gz.asc
                        </a>
                    </li>
                </ul>

                <!-- http://benfoster.io/blog/angularjs-recursive-templates -->
                <h4 ng-show="selectedRevisionData.dependencies.length > 0">Dependencies</h4>
                <!-- TODO: prettify -->
                <script type="text/ng-template" id="dependencyTree">
                <a ui-sref="installable_detail({installableId: dependency.id})">
                    {{ dependency.installable.name }} @ {{ dependency.version }}
                </a>
                <ul ng-if="dependency.dependencies">
                    <li ng-repeat="dependency in dependency.dependencies" ng-include="'dependencyTree'">
                    </li>
                </ul>
                </script>
                <ul>
                    <li ng-repeat="dependency in selectedRevisionData.dependencies" ng-include="'dependencyTree'"></li>
                </ul>


            </md-content>
        </md-card>

        <!-- end of xeditable form -->
        </form>
    </div>
</div>
