<div layout="row" layout-align="center center">
    <div>
        <md-card class="md-whiteframe-z3">
            <md-toolbar class="md-toolbar-tools md-accent">
                <h3>
                    Log In
                </h3>
            </md-toolbar>
            <md-content layout-padding>
                <div layout="column">
                    <p>
                    At this time we only provide login through GitHub
                    </p>
                    <md-button class="md-raised md-accent" ng-click="authenticate('github')">
                        Login with GitHub
                    </md-button>
                </div>
            </md-content>
        </md-card>
    </div>
</div>
