<div layout="row" layout-align-md="column">
    <div flex>
        <md-card class="md-whiteframe-z3">
            <md-toolbar class="md-toolbar-tools md-accent">
                <h3>
                    <md-icon aria-label="Search Tools" md-font-library="material-icons">search</md-icon>
                    Search
                </h3>
            </md-toolbar>
            <md-content class="md-padding">
                <md-input-container>
                    <input id="searchTerm" type="search" placeholder="Search..." ng-model="searchTerm" />
                </md-input-container>
                <div layout="column">
                    <div ng-show="searching" flex>
                        <div layout="row" layout-align="center center">
                            <md-progress-circular
                                class="md-accent"
                                md-mode="indeterminate"
                                md-diameter="40px">
                            </md-progress-circular>
                        </div>
                    </div>
                    <div ng-show="!searching"
                        flex ng-repeat="result in results.results" >


                        <md-card class="md-whiteframe-z1">
                            <md-toolbar class="md-toolbar-tools md-accent md-hue-3">
                                <a ui-sref="installable_detail({installableId: result.id})">
                                    <h3>
                                        {{result.name}}
                                    </h3>
                                </a>
                            </md-toolbar>
                            <md-content class="md-padding">
                                <div layout="colum" layout-sm="row">
                                    <div flex="70">
                                        <p>
                                            {{ result.synopsis}}
                                        </p>
                                    </div>
                                    <div flex="30">
                                        <div layout="column" layout-align="top center">
                                            <div flex>
                                                <em>Downloads: </em>
                                                {{ result.total_downloads }}
                                            </div>
                                            <div flex>
                                                <em>Updated: </em>
                                                <span am-time-ago="result.last_updated"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </md-content>
                        </md-card>
                    </div>
                </div>
            </md-content>
        </md-card>
    </div>
</div>
