<div layout="row" layout-align-md="column">
    <div flex>
        <md-card class="md-whiteframe-z3">
            <md-toolbar class="md-toolbar-tools md-accent">
                <h3>Tool Authors</h3>
            </md-toolbar>
            <md-content class="md-padding">
                <table>
                    <tr ng-repeat="user in users">
                        <td>
                            <a ui-sref="user_detail({userId: user.id})">
                            {{ user.display_name }}
                            </a>
                        </td>
                        <td>
                            <a target="_blank" href="https://github.com/{{ user.github_username }}">{{ user.github_username }}</a>
                        </td>
                        <td>
                            {{ user.gpg_pubkey_id }}
                        </td>
                    </tr>
                </table>
            </md-content>
        </md-card>
    </div>
</div>
