<div layout="row" layout-align-md="column">
    <div flex>
        <md-card class="md-whiteframe-z3">
            <md-toolbar class="md-toolbar-tools md-accent">
                <h3>Tool Authors</h3>
            </md-toolbar>
            <md-content class="md-padding">
                <ul>
                    <li ng-repeat="user in users.results">
                        <a ui-sref="user_detail({userId: user.id})">
                            {{ user.display_name }} - {{ user.username }}
                        </a>
                    </li>
                </ul>
            </md-content>
        </md-card>
    </div>
</div>
