<div layout="row" layout-align-md="column">
    <div flex>
        <md-card class="md-whiteframe-z3">
            <md-toolbar class="md-toolbar-tools md-accent">
                <h3>{{ user.first_name }} {{ user.last_name }}</h3>
            </md-toolbar>
            <md-content class="md-padding">
                <img src="//www.gravatar.com/avatar/{{ user.hashed_email }}?size=400" />
                <p>
                    TODO: GH Icon
                    TODO: PGP Key/ID
                </p>

                <div ng-if="user.api_key !== undefined">
                    API Key: {{ user.api_key }}
                </div>

                <h4>Linked Accounts</h4>
                <ul>
                    <li ng-repeat="social in user.social_auth">
                        <span ng-if="social.provider == 'github'">
                            <a href="https://github.com/{{social.service_username}}/" target="_blank">
                            <fa name="github"></fa>
                                @{{ social.service_username }}
                            </a>
                        </span>
                        <span ng-if="social.provider == 'bitbucket'">
                            <a href="https://bitbucket.com/{{social.service_username}}/" target="_blank">
                            <fa name="bitbucket"></fa>
                                @{{ social.service_username }}
                            </a>
                        </span>
                    </li>
                </ul>


                <h4>Groups</h4>
                <ul>
                    <li ng-repeat="group in user.groups">
                        <a ui-sref="group_detail({groupId: group.id})">
                        {{ group.name }}
                        </a>
                    </li>
                </ul>
            </md-content>
        </md-card>

        <md-card class="md-whiteframe-z3">
            <md-toolbar class="md-toolbar-tools md-accent">
                <h3>Repositories</h3>
            </md-toolbar>
            <md-content class="md-padding">
                <p>
                    {{ user.display_name }} is one of the administrator of
                    these repositories. (This is not for tracking authorship as
                    much as it is just sharing who has access)
                </p>
                <ul>
                    <li ng-repeat="installable in user.installable">
                        <a ui-sref="installable_detail({installableId: installable.id})">
                            {{ installable.name }} - {{ installable.synopsis }}
                        </a>
                    </li>
                </ul>
            </md-content>
        </md-card>
    </div>
</div>
